@{
    ViewData["Title"] = "Profilim";
    Layout = "~/Views/Shared/_AuthorLayout.cshtml";
}

<div class="container mt-5">
    <h2>Profil Bilgileri</h2>
    <hr />

    <div class="row mb-3">
        <div class="col-md-3 fw-bold">Ad:</div>
        <div class="col-md-9">@ViewBag.name</div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3 fw-bold">Soyad:</div>
        <div class="col-md-9">@ViewBag.surname</div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3 fw-bold">Kullanıcı ID:</div>
        <div class="col-md-9">@ViewBag.id</div>
    </div>
</div>
