@model List<BlogStore.EntityLayer.Entities.Tag>

<div class="sidebar-box">
    <h3 class="heading">Etiketler</h3>
    <ul class="tags">
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model.DistinctBy(t => t.Title))  // Tekrar edenleri önlemek için
            {
                <li><a href="#">@item.Title</a></li>
            }
        }
        else
        {
            <li>Henüz etiket bulunamadı.</li>
        }
        

    </ul>
</div>