<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="./index.html" class="text-nowrap logo-img">
                <img src="/flexy-bootstrap-lite-1.0.0/assets/images/logos/logo.svg" alt="" />
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-6"></i>
            </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
                <li class="nav-small-cap">
                    <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
                    <span class="hide-menu">Home</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="Dashboard/Index" aria-expanded="false">
                        <i class="ti ti-atom"></i>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <!-- ---------------------------------- -->
                <!-- Dashboard -->
                <!-- ---------------------------------- -->
                <li class="sidebar-item">
                    <a class="sidebar-link justify-content-between"
                       href="/Category/CategoryList" aria-expanded="false">
                        <div class="d-flex align-items-center gap-3">
                            <span class="d-flex">
                                <i class="ti ti-aperture"></i>
                            </span>
                            <span class="hide-menu">Kategoriler</span>
                        </div>

                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link justify-content-between"
                       href="/Author/MyAuthorList" aria-expanded="false">
                        <div class="d-flex align-items-center gap-3">
                            <span class="d-flex">
                                <i class="ti ti-shopping-cart"></i>
                            </span>
                            <span class="hide-menu">Yazarlar</span>
                        </div>

                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link justify-content-between"
                       href="#" aria-expanded="false">
                        <div class="d-flex align-items-center gap-3">
                            <span class="d-flex">
                                <i class="ti ti-chart-donut-3"></i>
                            </span>
                            <span class="hide-menu">Bloglar</span>
                        </div>

                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link justify-content-between"
                       href="/Comment/CommentList" aria-expanded="false">
                        <div class="d-flex align-items-center gap-3">
                            <span class="d-flex">
                                <i class="ti ti-chart-donut-3"></i>
                            </span>
                            <span class="hide-menu">Yorumlar</span>
                        </div>

                    </a>
                </li>
                <li>
                <li class="sidebar-item">
                    <a class="sidebar-link justify-content-between"
                       href="#" aria-expanded="false">
                        <div class="d-flex align-items-center gap-3">
                            <span class="d-flex">
                                <i class="ti ti-chart-donut-3"></i>
                            </span>
                            <span class="hide-menu">Hakkımızda</span>
                        </div>

                    </a>
                </li>
                <li>
                <li class="sidebar-item">
                    <a class="sidebar-link justify-content-between"
                       href="#" aria-expanded="false">
                        <div class="d-flex align-items-center gap-3">
                            <span class="d-flex">
                                <i class="ti ti-chart-donut-3"></i>
                            </span>
                            <span class="hide-menu">İletişim</span>
                        </div>

                    </a>
                </li>
                <li>
                <li class="sidebar-item">
                    <a class="sidebar-link justify-content-between"
                       href="#" aria-expanded="false">
                        <div class="d-flex align-items-center gap-3">
                            <span class="d-flex">
                                <i class="ti ti-chart-donut-3"></i>
                            </span>
                            <span class="hide-menu">Yetkilendirme</span>
                        </div>

                    </a>
                </li>
                <li>
                    <span class="sidebar-divider lg"></span>
                </li>
                <li class="nav-small-cap">
                    <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
                    <span class="hide-menu">Hesap</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link justify-content-between"
                       href="#"
                       aria-expanded="false">
                        <div class="d-flex align-items-center gap-3">
                            <span class="d-flex">
                                <i class="ti ti-user-circle"></i>
                            </span>
                            <span class="hide-menu">Profil</span>
                        </div>

                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link justify-content-between"
                       href="/Default/Index" aria-expanded="false">
                        <div class="d-flex align-items-center gap-3">
                            <span class="d-flex">
                                <i class="ti ti-mail"></i>
                            </span>
                            <span class="hide-menu">Siteye Git</span>
                        </div>

                    </a>
                </li>
                <li class="sidebar-item">
                    <form asp-controller="Login" asp-action="Logout" method="post" class="w-100">
                                    @Html.AntiForgeryToken()
                        <button type="submit" class="sidebar-link justify-content-between btn btn-link text-start w-100" style="text-decoration: none; padding: 0; border: none;">
                            <div class="d-flex align-items-center gap-3">
                                <span class="d-flex">
                                    <i class="ti ti-calendar"></i>
                                </span>
                                <span class="hide-menu">Çıkış</span>
                            </div>
                        </button>
                    </form>
                </li>




            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>